.circular-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu {
  position: relative;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  position: absolute;
  left: 0;
  list-style-type: none;
  transform-origin: 80px;
  transition: 0.25s;
  transition-delay: calc(0.05s * var(--i));
  transform: rotate(0deg) translateX(60px);
  cursor: pointer;
}

.menu.active li {
  transform: rotate(calc(360deg / 6 * var(--i)));
}

.menu li a {
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: rotate(calc(360deg / -6 * var(--i)));
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  color: #111;
  transition: 0.25s;
  cursor: pointer;
}

.menu li a:hover {
  color: #ff1252;
}

.toggle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  font-size: 2em;
  transition: transform 0.25s;
}

.menu.active .toggle {
  transform: rotate(315deg);
}
