@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.experience-wrapper {
  margin-top: 50px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.react-tabs__tab--selected {
  background: unset;
  color: var(--tw-prose-body);
}

.react-tabs__tab:focus:after {
  background: unset;
}

.react-tabs {
  color: #b8d1e9;
  width: 100%;
}

.tab-list-wrapper {
  display: flex;
  justify-content: center;
  background: transparent;
}

.date-exp {
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco,
    monospace;
  font-size: 13px;
  letter-spacing: 0.05em;
  color: rgb(168, 178, 209);
}

.exp-project::before {
  position: absolute;
  left: 0px;
  color: var(--tw-prose-body);
}

.exp-project {
  padding-left: 30px;
  margin-bottom: 10px;
}

.exp-project-position {
  margin: unset;
}

.exp-project-wrapper {
  position: relative;
}

.exp-project-technical-wrapper {
  margin-bottom: 10px;
}

.label-custom {
  color: var(--tw-prose-body);
  background-color: transparent;
  border: 1px solid #ec4899;
  border-radius: 3px;
  padding: 0.25rem 0.25rem;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco,
    monospace;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  margin-right: 10px;
  font-size: 13px;
}

.text-highlight {
  position: relative;
  padding-left: 10px;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco,
    monospace;
  font-size: 15px;
  color: var(--tw-prose-body);
}

.text-highlight-desc {
  position: relative;
  padding-left: 10px;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco,
    monospace;
  font-size: 15px;
  /* color: var(--tw-prose-body); */
}

.text {
  margin: 0;
}

.desc {
  color: white;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.current-company {
  color: aqua;
}

@media (min-width: 320px) {
  .experience {
    width: inherit;
  }

  .exp-project-technical-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
}

.primary-scrollbar {
  scrollbar-width: thin;
}

@layer base {
  :root {
    --background:
    0 0% 100%;
    --foreground:
    0 0% 3.9%;
    --card:
    0 0% 100%;
    --card-foreground:
    0 0% 3.9%;
    --popover:
    0 0% 100%;
    --popover-foreground:
    0 0% 3.9%;
    --primary:
    0 0% 9%;
    --primary-foreground:
    0 0% 98%;
    --secondary:
    0 0% 96.1%;
    --secondary-foreground:
    0 0% 9%;
    --muted:
    0 0% 96.1%;
    --muted-foreground:
    0 0% 45.1%;
    --accent:
    0 0% 96.1%;
    --accent-foreground:
    0 0% 9%;
    --destructive:
    0 84.2% 60.2%;
    --destructive-foreground:
    0 0% 98%;
    --border:
    0 0% 89.8%;
    --input:
    0 0% 89.8%;
    --ring:
    0 0% 3.9%;
    --chart-1:
    12 76% 61%;
    --chart-2:
    173 58% 39%;
    --chart-3:
    197 37% 24%;
    --chart-4:
    43 74% 66%;
    --chart-5:
    27 87% 67%;
    --radius:
    0.5rem;
  }
  .dark {
    --background:
    0 0% 3.9%;
    --foreground:
    0 0% 98%;
    --card:
    0 0% 3.9%;
    --card-foreground:
    0 0% 98%;
    --popover:
    0 0% 3.9%;
    --popover-foreground:
    0 0% 98%;
    --primary:
    0 0% 98%;
    --primary-foreground:
    0 0% 9%;
    --secondary:
    0 0% 14.9%;
    --secondary-foreground:
    0 0% 98%;
    --muted:
    0 0% 14.9%;
    --muted-foreground:
    0 0% 63.9%;
    --accent:
    0 0% 14.9%;
    --accent-foreground:
    0 0% 98%;
    --destructive:
    0 62.8% 30.6%;
    --destructive-foreground:
    0 0% 98%;
    --border:
    0 0% 14.9%;
    --input:
    0 0% 14.9%;
    --ring:
    0 0% 83.1%;
    --chart-1:
    220 70% 50%;
    --chart-2:
    160 60% 45%;
    --chart-3:
    30 80% 55%;
    --chart-4:
    280 65% 60%;
    --chart-5:
    340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}